In [1]:
#from mysql.connector import cursor
from api.query import *
from api.difficulty import calculate_difficulty, diff_breakdown

In [2]:
register('bench1@test.com', 'a', 'pswd')
add_schedule('bench1@test.com',36796) #cs173
add_schedule('bench1@test.com',30792) #cs421
add_schedule('bench1@test.com',39529) #math441
dif = calculate_difficulty('bench1@test.com')
print(dif)
breakdown = diff_breakdown('bench1@test.com')
print(breakdown)

Parsed credit info: [3, 3, 3]
Course IDs: [421, 173, 441]
(0, 3.6292909965266)
Parsed credit info: [3, 3, 3]
Course IDs: [421, 173, 441]
(0, [(421, 'CS', 0.2780619654021727), (173, 'CS', 0.29785488111007496), (441, 'MATH', 0.4240831534877522)])

In [9]:
register('bench2@test.com', 'a', 'pswd')
add_schedule('bench2@test.com',36218, 120208) #Econ 102
add_schedule('bench2@test.com',66445, 120208) #CS374
add_schedule('bench2@test.com',30109, 120208) #cs411
add_schedule('bench2@test.com',65906, 120208) #cs421
add_schedule('bench2@test.com',32116, 120208) #math441
dif = calculate_difficulty('bench2@test.com',120208)
print(dif)
breakdown = diff_breakdown('bench2@test.com',120208)
print(breakdown)

Parsed credit info: [3, 3, 3, 3, 4]
Course IDs: [411, 441, 102, 421, 374]
(0, 5.074699251421847)
Parsed credit info: [3, 3, 3, 3, 4]
Course IDs: [411, 441, 102, 421, 374]
(0, [(411, 'CS', 0.08283782784157702), (441, 'MATH', 0.228978336036489), (102, 'ECON', 0.0675540215149498), (421, 'CS', 0.17676673806657944), (374, 'CS', 0.4438630765404047)])

In [10]:
delete_account('bench1@test.com')
delete_account('bench2@test.com')
delete_account('bench3@test.com')
delete_account('bench4@test.com')
delete_account('bench5@test.com')

(0, 'Success')

In [45]:
register('bench1@test.com', 'a', 'pswd')
add_schedule('bench1@test.com',36218, 120208) #Econ 102
add_schedule('bench1@test.com',35876, 120208) #CS 125
add_schedule('bench1@test.com',46860, 120208) #MATH 231
add_schedule('bench1@test.com',55650, 120208) #phys 211

(0, 'success')

In [46]:
dif = calculate_difficulty('bench1@test.com', 120208)
print(dif)
breakdown = diff_breakdown('bench1@test.com', 120208)
print(breakdown)

Parsed credit info: [4, 3, 3, 4]
Course IDs: [125, 102, 231, 211]
(0, 2.747405107459442)
Parsed credit info: [4, 3, 3, 4]
Course IDs: [125, 102, 231, 211]
(0, [(125, 'CS', 0.18134108321385378), (102, 'ECON', 0.1091809499794791), (231, 'MATH', 0.23041504747228647), (211, 'PHYS', 0.47906291933438067)])

In [6]:
register('bench2@test.com', 'a', 'pswd')
add_schedule('bench2@test.com',66322, 120208) #CS 126
add_schedule('bench2@test.com',40083, 120208) #CS 173
add_schedule('bench2@test.com',63037, 120208) #MATH 415
add_schedule('bench2@test.com',34083, 120208) #HIST 142
add_schedule('bench2@test.com',68430, 120208) #MATH 347H

(0, 'success')

In [7]:
dif = calculate_difficulty('bench2@test.com', 120208)
print(dif)
breakdown = diff_breakdown('bench2@test.com', 120208)
print(breakdown)

Parsed credit info: [3, 3, 3, 3, 3, 3, 3, 3, 4, 3]
Course IDs: [411, 441, 142, 102, 173, 415, 421, 126, 374, 347]
(0, 18.929757608177606)
Parsed credit info: [3, 3, 3, 3, 3, 3, 3, 3, 4, 3]
Course IDs: [411, 441, 142, 102, 173, 415, 421, 126, 374, 347]
(0, [(411, 'CS', 0.04302646533036987), (441, 'MATH', 0.11893272305161663), (142, 'HIST', 0.07370891146453165), (102, 'ECON', 0.03508796452508132), (173, 'CS', 0.09834915856484457), (415, 'MATH', 0.1384316643979083), (421, 'CS', 0.09181370546714061), (126, 'CS', 0.05418588560420861), (374, 'CS', 0.23054514793314812), (347, 'MATH', 0.11591837366115028)])

In [49]:
register('bench3@test.com', 'a', 'pswd')
add_schedule('bench3@test.com',66445, 120208) #CS 374
add_schedule('bench3@test.com',30109, 120208) #CS 411
add_schedule('bench3@test.com',66403, 120208) #MATH 444
add_schedule('bench3@test.com',36016, 120208) #CS 450
add_schedule('bench3@test.com',70363, 120208) #CS 498DL

(0, 'success')

In [50]:
dif = calculate_difficulty('bench3@test.com', 120208)
print(dif)
breakdown = diff_breakdown('bench3@test.com', 120208)
print(breakdown)

Parsed credit info: [3, 3, 3, 4, 3]
Course IDs: [411, 450, 444, 374, 498]
(0, 5.795560719576346)
Parsed credit info: [3, 3, 3, 4, 3]
Course IDs: [411, 450, 444, 374, 498]
(0, [(411, 'CS', 0.07253432122919629), (450, 'CS', 0.24008993256042366), (444, 'MATH', 0.1752365437946764), (374, 'CS', 0.38865464986760495), (498, 'CS', 0.12348455254809877)])

In [51]:
register('bench4@test.com', 'a', 'pswd')
add_schedule('bench4@test.com',36218, 120208) #ECON 102
add_schedule('bench4@test.com',63130, 120208) #RST 242
add_schedule('bench4@test.com',30109, 120208) #CS 411
add_schedule('bench4@test.com',36016, 120208) #CS 450
add_schedule('bench4@test.com',70363, 120208) #CS 498DL

(0, 'success')

In [52]:
dif = calculate_difficulty('bench4@test.com', 120208)
print(dif)
breakdown = diff_breakdown('bench4@test.com', 120208)
print(breakdown)

Parsed credit info: [3, 3, 3, 3, 3]
Course IDs: [411, 450, 102, 242, 498]
(0, 3.023177304199852)
Parsed credit info: [3, 3, 3, 3, 3]
Course IDs: [411, 450, 102, 242, 498]
(0, [(411, 'CS', 0.1303606956680975), (450, 'CS', 0.431496291701498), (102, 'ECON', 0.10630878994929994), (242, 'RST', 0.10990435690668864), (498, 'CS', 0.22192986577441587)])

In [53]:
register('bench5@test.com', 'a', 'pswd')
add_schedule('bench5@test.com',36218, 120208) #ECON 102
add_schedule('bench5@test.com',63130, 120208) #RST 242
add_schedule('bench5@test.com',57746, 120208) #DANC 100
add_schedule('bench5@test.com',41758, 120208) #AAS 100
add_schedule('bench5@test.com',37825, 120208) #ECON 103

(0, 'success')

In [54]:
dif = calculate_difficulty('bench5@test.com', 120208)
print(dif)
breakdown = diff_breakdown('bench5@test.com', 120208)
print(breakdown)

Parsed credit info: [3, 3, 3, 3, 3]
Course IDs: [102, 103, 100, 100, 242]
(0, 1.8130023455027116)
Parsed credit info: [3, 3, 3, 3, 3]
Course IDs: [102, 103, 100, 100, 242]
(0, [(102, 'ECON', 0.1772696664231603), (103, 'ECON', 0.4741829553194215), (100, 'AAS', 0.03849089940903612), (100, 'DANC', 0.1267912126686783), (242, 'RST', 0.18326526617970357)])

In [3]:
sche =  get_schedule('jyh@test.com')
print(sche)
sections = get_usr_sections('jyh@test.com')
print(sections)

(0, ((39529, 441, 'MATH', 'Online', None, None, None, None, None), (40317, 411, 'CS', 'Online Lecture', datetime.timedelta(0, 39600), datetime.timedelta(0, 44100), 'MTWR', None, None)))
(0, ((441, 'MATH', 3), (411, 'CS', 3)))

In [ ]:
calculate_difficulty('jyh@test.com')

In [15]:
# res = delete_schedule('jyh@test.com',40317)
# print(res)
# res = delete_schedule('jyh@test.com',36797)
# print(res)
# res = delete_schedule('jyh@test.com',36796)
print(res)
delete_account('jyh@test.com')

((38251, 104, 'CHEM', None),)

(0, 'Success')

In [2]:
# Insert queries
# Insert into users
res = register('jyh@test.com', 'a', 'pswd')#register
print(res)
res = register('jyh@test.com', 'a', 'pswd')#register duplicate
print(res)
res = register('', 'a', 'pswd')#invalid entry
print(res)

# Insert into enrollments
res = add_schedule('jyh@test.com',40317) # add cs411 su20
print(res)
res = add_schedule('jyh@test.com',40317) # add duplicate
print(res)
res = add_schedule('jyh@test.com',70363,120201) 
# add npre412 sp20, intended to add fa20 data, but api is closed
print(res)
res = add_schedule('wtf@test.com',40317) # email does not exists
print(res)
res = add_schedule('',40317) #E-mail does not exist
print(res)
res = add_schedule('jyh@test.com',0) #crn does not exist
print(res)

(1, '(1062, "Duplicate entry \'jyh@test.com\' for key \'Email\'")')
(1, '(1062, "Duplicate entry \'jyh@test.com\' for key \'Email\'")')
(1, 'Empty field')
(1, '(1062, "Duplicate entry \'164c6eb0-cedf-11ea-8f1c-06f7f522912b-120205-40317\' for key \'PRIMARY\'")')
(1, '(1062, "Duplicate entry \'164c6eb0-cedf-11ea-8f1c-06f7f522912b-120205-40317\' for key \'PRIMARY\'")')
(1, '(1062, "Duplicate entry \'164c6eb0-cedf-11ea-8f1c-06f7f522912b-120201-70363\' for key \'PRIMARY\'")')
(1, "User doesn't exist")
(1, 'Empty field')
(1, "(1452, 'Cannot add or update a child row: a foreign key constraint fails (`illini_db`.`Enrollments`, CONSTRAINT `Enrollments_ibfk_3` FOREIGN KEY (`CRN`) REFERENCES `Sections` (`CRN`) ON DELETE CASCADE ON UPDATE CASCADE)')")

In [3]:
# Update queries
res = update_name('jyh@test.com', 'xs')#change name
print(res)
res = update_name('jyh@test.com', 'xsw')#change name again
print(res)
res = update_name('','')#invalid input
print(res)
res = update_name('2333@666.com', 'hh')
#This entry dne, function returns success but no entry modified.
#Does not affect db so I'm not enforcing it
print(res)

(0, 'Success')
(0, 'Success')
(1, 'Empty field')
(0, 'Success')

In [4]:
# Search query
add_schedule('jyh@test.com',36797)
add_schedule('jyh@test.com',36796)

res = get_schedule('jyh@test.com')
print(res)
res = get_schedule('zch@test.com') # this account does not exist
print(res)

res = get_total_credit_hour('jyh@test.com')
print(res)
res = get_total_credit_hour('zch@test.com')

res = get_class_section('CS', 411) # get all sections on cs411 summer
print(res)
res = get_class_section('CS', 411, 120201) 
# get all sections on cs233 sp20, fa20 data can't be requested now
print(res)

delete_schedule('jyh@test.com', 36797)
delete_schedule('jyh@test.com', 36796)

(0, ((36796, 173, 'CS', 'Online Lecture', datetime.timedelta(0, 39600), datetime.timedelta(0, 44100), 'MTWR', None, None), (36797, 173, 'CS', 'Online Discussion', datetime.timedelta(0, 46800), datetime.timedelta(0, 49800), 'MW', None, None), (40317, 411, 'CS', 'Online Lecture', datetime.timedelta(0, 39600), datetime.timedelta(0, 44100), 'MTWR', None, None)))
(1, "User doesn't exist")
(0, ((Decimal('6'),),))
(0, ((40317, 411, 'CS', 'Online Lecture', datetime.timedelta(0, 39600), datetime.timedelta(0, 44100), 'MTWR', None, None), (40318, 411, 'CS', 'Online Lecture', datetime.timedelta(0, 39600), datetime.timedelta(0, 44100), 'MTWR', None, None)))
(0, ((31352, 411, 'CS', 'Lecture-Discussion', datetime.timedelta(0, 50400), datetime.timedelta(0, 54900), 'TR', 'Natural History Building', 2079), (31355, 411, 'CS', 'Lecture-Discussion', datetime.timedelta(0, 50400), datetime.timedelta(0, 54900), 'TR', 'Natural History Building', 2079), (40658, 411, 'CS', 'Online', None, None, None, None, None), (67992, 411, 'CS', 'Online', None, None, None, None, None), (69453, 411, 'CS', 'Online', None, None, None, None, None)))

(0, 'Success')

In [5]:
# Delete queries
# Delete schedule
res = delete_schedule('jyh@test.com',40317) # delete cs411 su20
print(res)
res = delete_schedule('jyh@test.com',40317) # double delete
print(res)
res = delete_schedule('jyh@test.com',70363,120208) # delete cs498dl fa20
print(res)
# email does not exist,would say success, but db not altered
res = delete_schedule('wtf@test.com',40317)
print(res)
res = delete_schedule('',0) #invalid entry
print(res)

# Delete account
res = delete_account('jyh@test.com') 
print(res)
res = delete_account('jyh@test.com') #delete twice
print(res)
#invalid delete, would say success, but db not altered
res = delete_account('wtf@test.com')
print(res)
res = delete_account('')
print(res)

(0, 'Success')
(0, 'Success')
(0, 'Success')
(1, "User doesn't exist")
(1, 'Empty field')
(0, 'Success')
(0, 'Success')
(0, 'Success')
(1, 'Empty field')

In [7]:
len(())

0