In [1]:
#from mysql.connector import cursor
from api.query import *

In [5]:
res = find_hour('cs', 397, 120205)
print(res)

(('1 TO 3 hours.',),)
3

In [10]:
db, cursor = connect_to_db()

In [9]:
uuid = uuid_finder(cursor, 'jyh@test.com')
uuid = uuid[0][0]
print(uuid)
query = "SELECT Credits, CourseID, SubjectID\
            FROM Enrollments\
            NATURAL JOIN Sections\
            WHERE UUID = %s AND TermID = %s" 
val = (uuid, 120205)
cursor.execute(query, val)
res = cursor.fetchall()
print(res)

901b8cdf-d348-11ea-9ca5-06f7f522912b
((None, 173, 'CS'), (None, 173, 'CS'), (3, 411, 'CS'))

In [2]:
register('jyh@test.com', 'a', 'pswd')
add_schedule('jyh@test.com',40317)
add_schedule('jyh@test.com',39529)

(0, 'success')

In [16]:
query = "SELECT CRN, CourseID, SubjectID, Credits\
                FROM Sections NATURAL JOIN Meetings\
                WHERE CourseID = %s AND SubjectID = %s AND TermID = %s"
value = (441, 'math', 120205)
cursor.execute(query, value)
res = cursor.fetchall()
print(res)

((39529, 441, 'MATH', 3),)

In [3]:
sche =  get_schedule('jyh@test.com')
print(sche)
sections = get_usr_sections('jyh@test.com')
print(sections)

(0, ((39529, 441, 'MATH', 'Online', None, None, None, None, None), (40317, 411, 'CS', 'Online Lecture', datetime.timedelta(0, 39600), datetime.timedelta(0, 44100), 'MTWR', None, None)))
(0, ((441, 'MATH', 3), (411, 'CS', 3)))

In [1]:
from api.difficulty import calculate_difficulty
calculate_difficulty('jyh@test.com')

User section query parameters: ('6a93b0cc-d366-11ea-9ca5-06f7f522912b', '120205')
Fetched user section in term 120205: ((441, 'MATH', 3, 39529), (411, 'CS', 3, 40317))
User Section Raw: ((441, 'MATH', 3, 39529), (411, 'CS', 3, 40317))
Parsed credit info: [3, 3]
Course IDs: [441, 411]
<class 'int'>
<class 'int'>

(0, 1.3413635776906019)

In [15]:
# res = delete_schedule('jyh@test.com',40317)
# print(res)
# res = delete_schedule('jyh@test.com',36797)
# print(res)
# res = delete_schedule('jyh@test.com',36796)
print(res)
delete_account('jyh@test.com')

((38251, 104, 'CHEM', None),)

(0, 'Success')

In [2]:
# Insert queries
# Insert into users
res = register('jyh@test.com', 'a', 'pswd')#register
print(res)
res = register('jyh@test.com', 'a', 'pswd')#register duplicate
print(res)
res = register('', 'a', 'pswd')#invalid entry
print(res)

# Insert into enrollments
res = add_schedule('jyh@test.com',40317) # add cs411 su20
print(res)
res = add_schedule('jyh@test.com',40317) # add duplicate
print(res)
res = add_schedule('jyh@test.com',70363,120201) 
# add npre412 sp20, intended to add fa20 data, but api is closed
print(res)
res = add_schedule('wtf@test.com',40317) # email does not exists
print(res)
res = add_schedule('',40317) #E-mail does not exist
print(res)
res = add_schedule('jyh@test.com',0) #crn does not exist
print(res)

(1, '(1062, "Duplicate entry \'jyh@test.com\' for key \'Email\'")')
(1, '(1062, "Duplicate entry \'jyh@test.com\' for key \'Email\'")')
(1, 'Empty field')
(1, '(1062, "Duplicate entry \'164c6eb0-cedf-11ea-8f1c-06f7f522912b-120205-40317\' for key \'PRIMARY\'")')
(1, '(1062, "Duplicate entry \'164c6eb0-cedf-11ea-8f1c-06f7f522912b-120205-40317\' for key \'PRIMARY\'")')
(1, '(1062, "Duplicate entry \'164c6eb0-cedf-11ea-8f1c-06f7f522912b-120201-70363\' for key \'PRIMARY\'")')
(1, "User doesn't exist")
(1, 'Empty field')
(1, "(1452, 'Cannot add or update a child row: a foreign key constraint fails (`illini_db`.`Enrollments`, CONSTRAINT `Enrollments_ibfk_3` FOREIGN KEY (`CRN`) REFERENCES `Sections` (`CRN`) ON DELETE CASCADE ON UPDATE CASCADE)')")

In [3]:
# Update queries
res = update_name('jyh@test.com', 'xs')#change name
print(res)
res = update_name('jyh@test.com', 'xsw')#change name again
print(res)
res = update_name('','')#invalid input
print(res)
res = update_name('2333@666.com', 'hh')
#This entry dne, function returns success but no entry modified.
#Does not affect db so I'm not enforcing it
print(res)

(0, 'Success')
(0, 'Success')
(1, 'Empty field')
(0, 'Success')

In [4]:
# Search query
add_schedule('jyh@test.com',36797)
add_schedule('jyh@test.com',36796)

res = get_schedule('jyh@test.com')
print(res)
res = get_schedule('zch@test.com') # this account does not exist
print(res)

res = get_total_credit_hour('jyh@test.com')
print(res)
res = get_total_credit_hour('zch@test.com')

res = get_class_section('CS', 411) # get all sections on cs411 summer
print(res)
res = get_class_section('CS', 411, 120201) 
# get all sections on cs233 sp20, fa20 data can't be requested now
print(res)

delete_schedule('jyh@test.com', 36797)
delete_schedule('jyh@test.com', 36796)

(0, ((36796, 173, 'CS', 'Online Lecture', datetime.timedelta(0, 39600), datetime.timedelta(0, 44100), 'MTWR', None, None), (36797, 173, 'CS', 'Online Discussion', datetime.timedelta(0, 46800), datetime.timedelta(0, 49800), 'MW', None, None), (40317, 411, 'CS', 'Online Lecture', datetime.timedelta(0, 39600), datetime.timedelta(0, 44100), 'MTWR', None, None)))
(1, "User doesn't exist")
(0, ((Decimal('6'),),))
(0, ((40317, 411, 'CS', 'Online Lecture', datetime.timedelta(0, 39600), datetime.timedelta(0, 44100), 'MTWR', None, None), (40318, 411, 'CS', 'Online Lecture', datetime.timedelta(0, 39600), datetime.timedelta(0, 44100), 'MTWR', None, None)))
(0, ((31352, 411, 'CS', 'Lecture-Discussion', datetime.timedelta(0, 50400), datetime.timedelta(0, 54900), 'TR', 'Natural History Building', 2079), (31355, 411, 'CS', 'Lecture-Discussion', datetime.timedelta(0, 50400), datetime.timedelta(0, 54900), 'TR', 'Natural History Building', 2079), (40658, 411, 'CS', 'Online', None, None, None, None, None), (67992, 411, 'CS', 'Online', None, None, None, None, None), (69453, 411, 'CS', 'Online', None, None, None, None, None)))

(0, 'Success')

In [5]:
# Delete queries
# Delete schedule
res = delete_schedule('jyh@test.com',40317) # delete cs411 su20
print(res)
res = delete_schedule('jyh@test.com',40317) # double delete
print(res)
res = delete_schedule('jyh@test.com',70363,120208) # delete cs498dl fa20
print(res)
# email does not exist,would say success, but db not altered
res = delete_schedule('wtf@test.com',40317)
print(res)
res = delete_schedule('',0) #invalid entry
print(res)

# Delete account
res = delete_account('jyh@test.com') 
print(res)
res = delete_account('jyh@test.com') #delete twice
print(res)
#invalid delete, would say success, but db not altered
res = delete_account('wtf@test.com')
print(res)
res = delete_account('')
print(res)

(0, 'Success')
(0, 'Success')
(0, 'Success')
(1, "User doesn't exist")
(1, 'Empty field')
(0, 'Success')
(0, 'Success')
(0, 'Success')
(1, 'Empty field')

In [7]:
len(())

0