In [20]:
from mysql.connector import cursor
from src.query import *

In [2]:
# Insert queries
# Insert into users
res = register('jyh@test.com', 'a', 'pswd')#register
print(res)
res = register('jyh@test.com', 'a', 'pswd')#register duplicate
print(res)
res = register('', 'a', 'pswd')#invalid entry
print(res)
# Insert into enrollments
res = add_schedule('jyh@test.com',40317) # add cs411 su20
print(res)
res = add_schedule('jyh@test.com',40317) # add duplicate
print(res)
res = add_schedule('jyh@test.com',70363,120208) 
# add npre412 sp20, intended to add fa20 data, but api is closed
print(res)
res = add_schedule('wtf@test.com',40317) # email does not exists
print(res)
res = add_schedule('',40317) #E-mail does not exist
print(res)
res = add_schedule('jyh@test.com',0) #crn does not exist
print(res)

(0, 'Sucess')
(1, '(1062, "Duplicate entry \'jyh@test.com\' for key \'Email\'")')
(1, 'Empty field')
(0, 'sucess')
(1, '(1062, "Duplicate entry \'f081d915-cdc1-11ea-8f1c-06f7f522912b-120205-40317\' for key \'PRIMARY\'")')
(0, 'sucess')
(1, "User doesn't exist")
(1, 'Empty field')
(1, "(1452, 'Cannot add or update a child row: a foreign key constraint fails (`illini_db`.`Enrollments`, CONSTRAINT `Enrollments_ibfk_3` FOREIGN KEY (`CRN`) REFERENCES `Sections` (`CRN`) ON DELETE CASCADE ON UPDATE CASCADE)')")

In [3]:
# Update queries
res = update_name('jyh@test.com', 'xs')#change name
print(res)
res = update_name('jyh@test.com', 'xsw')#change name again
print(res)
res = update_name('','')#invalid input
print(res)
res = update_name('2333@666.com', 'hh')
#This entry dne, function returns success but no entry modified.
#Does not affect db so I'm not enforcing it
print(res)

(0, 'Sucess')
(0, 'Sucess')
(1, 'Empty field')
(0, 'Sucess')

In [8]:
# Search query
add_schedule('jyh@test.com',36797)
add_schedule('jyh@test.com',36796)
res = get_schedule('jyh@test.com')
print(res)
res = get_schedule('zch@test.com') # this account does not exist
print(res)
res = get_class_section('CS', 411) # get all sections on cs411 summer
print(res)
res = get_class_section('CS', 233, 120201) 
# get all sections on cs233 sp20, fa20 data can't be requested now
print(res)
delete_schedule('jyh@test.com', 36797)
delete_schedule('jyh@test.com', 36796)

(0, ((36796, 173, 'CS', 'Online Lecture', datetime.timedelta(0, 39600), datetime.timedelta(0, 44100), 'MTWR', None, None), (36797, 173, 'CS', 'Online Discussion', datetime.timedelta(0, 46800), datetime.timedelta(0, 49800), 'MW', None, None), (40317, 411, 'CS', 'Online Lecture', datetime.timedelta(0, 39600), datetime.timedelta(0, 44100), 'MTWR', None, None)))
(1, "User doesn't exist")
(0, ((40317, 411, 'CS', 'Online Lecture', datetime.timedelta(0, 39600), datetime.timedelta(0, 44100), 'MTWR', None, None), (40318, 411, 'CS', 'Online Lecture', datetime.timedelta(0, 39600), datetime.timedelta(0, 44100), 'MTWR', None, None)))
(0, ((61689, 233, 'CS', 'Lecture', datetime.timedelta(0, 32400), datetime.timedelta(0, 35400), 'MWF', 'Digital Computer Laboratory', 1320), (61690, 233, 'CS', 'Discussion/Recitation', datetime.timedelta(0, 57600), datetime.timedelta(0, 60600), 'M', 'Siebel Center for Comp Sci', 1111), (61690, 233, 'CS', 'Laboratory', datetime.timedelta(0, 61200), datetime.timedelta(0, 64200), 'M', 'Siebel Center for Comp Sci', 218), (61691, 233, 'CS', 'Discussion/Recitation', datetime.timedelta(0, 50400), datetime.timedelta(0, 53400), 'T', 'Siebel Center for Comp Sci', 1111), (61691, 233, 'CS', 'Laboratory', datetime.timedelta(0, 54000), datetime.timedelta(0, 57000), 'T', 'Siebel Center for Comp Sci', 218), (61692, 233, 'CS', 'Discussion/Recitation', datetime.timedelta(0, 54000), datetime.timedelta(0, 57000), 'T', 'Siebel Center for Comp Sci', 1111), (61692, 233, 'CS', 'Laboratory', datetime.timedelta(0, 57600), datetime.timedelta(0, 60600), 'T', 'Siebel Center for Comp Sci', 218), (61693, 233, 'CS', 'Discussion/Recitation', datetime.timedelta(0, 39600), datetime.timedelta(0, 42600), 'T', 'Siebel Center for Comp Sci', 1111), (61693, 233, 'CS', 'Laboratory', datetime.timedelta(0, 43200), datetime.timedelta(0, 46200), 'T', 'Siebel Center for Comp Sci', 218), (61694, 233, 'CS', 'Discussion/Recitation', datetime.timedelta(0, 43200), datetime.timedelta(0, 46200), 'T', 'Siebel Center for Comp Sci', 1111), (61694, 233, 'CS', 'Laboratory', datetime.timedelta(0, 46800), datetime.timedelta(0, 49800), 'T', 'Siebel Center for Comp Sci', 218), (61695, 233, 'CS', 'Discussion/Recitation', datetime.timedelta(0, 46800), datetime.timedelta(0, 49800), 'T', 'Siebel Center for Comp Sci', 1111), (61695, 233, 'CS', 'Laboratory', datetime.timedelta(0, 50400), datetime.timedelta(0, 53400), 'T', 'Siebel Center for Comp Sci', 218), (61696, 233, 'CS', 'Discussion/Recitation', datetime.timedelta(0, 36000), datetime.timedelta(0, 39000), 'T', 'Siebel Center for Comp Sci', 1111), (61696, 233, 'CS', 'Laboratory', datetime.timedelta(0, 39600), datetime.timedelta(0, 42600), 'T', 'Siebel Center for Comp Sci', 218), (61820, 233, 'CS', 'Discussion/Recitation', datetime.timedelta(0, 54000), datetime.timedelta(0, 57000), 'M', 'Siebel Center for Comp Sci', 1111), (61820, 233, 'CS', 'Laboratory', datetime.timedelta(0, 57600), datetime.timedelta(0, 60600), 'M', 'Siebel Center for Comp Sci', 218), (61822, 233, 'CS', 'Discussion/Recitation', datetime.timedelta(0, 57600), datetime.timedelta(0, 60600), 'T', 'Siebel Center for Comp Sci', 1111), (61822, 233, 'CS', 'Laboratory', datetime.timedelta(0, 61200), datetime.timedelta(0, 64200), 'T', 'Siebel Center for Comp Sci', 218), (61823, 233, 'CS', 'Discussion/Recitation', datetime.timedelta(0, 32400), datetime.timedelta(0, 35400), 'T', 'Siebel Center for Comp Sci', 1111), (61823, 233, 'CS', 'Laboratory', datetime.timedelta(0, 36000), datetime.timedelta(0, 39000), 'T', 'Siebel Center for Comp Sci', 218), (61827, 233, 'CS', 'Lecture', datetime.timedelta(0, 36000), datetime.timedelta(0, 39000), 'MWF', 'Digital Computer Laboratory', 1310), (70584, 233, 'CS', 'Lecture', datetime.timedelta(0, 32400), datetime.timedelta(0, 35400), 'MWF', 'Digital Computer Laboratory', 1320), (70586, 233, 'CS', 'Lecture', datetime.timedelta(0, 36000), datetime.timedelta(0, 39000), 'MWF', 'Digital Computer Laboratory', 1310)))

(0, 'Sucess')

In [9]:
# Delete queries
# Delete schedule
res = delete_schedule('jyh@test.com',40317) # delete cs411 su20
print(res)
res = delete_schedule('jyh@test.com',40317) # double delete
print(res)
res = delete_schedule('jyh@test.com',70363,120208) # delete cs498dl fa20
print(res)
# email does not exist,would say success, but db not altered
res = delete_schedule('wtf@test.com',40317)
print(res)
res = delete_schedule('',0) #invalid entry
print(res)
# Delete account
res = delete_account('jyh@test.com') 
print(res)
res = delete_account('jyh@test.com') #delete twice
print(res)
#invalid delete, would say success, but db not altered
res = delete_account('wtf@test.com')
print(res)
res = delete_account('')
print(res)

(0, 'Sucess')
(0, 'Sucess')
(0, 'Sucess')
(1, "User doesn't exist")
(1, 'Empty field')
(0, 'Sucess')
(0, 'Sucess')
(0, 'Sucess')
(1, 'Empty field')

In [26]:
#register('jyh@test.com', 'a', 'pswd')
add_schedule('jyh@test.com',36797)
add_schedule('jyh@test.com',36796)
add_schedule('jyh@test.com',40317)

(0, 'sucess')

In [25]:
delete_schedule('jyh@test.com', 36797)
delete_schedule('jyh@test.com', 36796)
delete_schedule('jyh@test.com',40317)

(0, 'Sucess')

In [7]:
query = "SELECT * FROM Sections WHERE CRN = 120208"
cursor.execute(query)
res = cursor.fetchall()
res

()

In [37]:
import datetime

In [39]:
print(str(datetime.timedelta(0,46800)))

13:00:00

In [27]:
tmp = (0, res)

In [31]:
tmp[1].asarray()

AttributeError: 'tuple' object has no attribute 'asarray'

In [1]:
import re

In [15]:
parsedClsCode = re.findall('(\d+|\D+)','ECON102')
parsedClsCode

['ECON', '102']

In [17]:
assert(len(parsedClsCode) == 2)