In [1]:
from query import *

In [2]:
# Insert queries
# Insert into users
res = register('jyh@test.com', 'a', 'pswd')#register
print(res)
res = register('jyh@test.com', 'a', 'pswd')#register duplicate
print(res)
res = register('', 'a', 'pswd')#invalid entry
print(res)
# Insert into enrollments
res = addSchedule('jyh@test.com',40317) # add cs411 su20
print(res)
res = addSchedule('jyh@test.com',40317) # add duplicate
print(res)
res = addSchedule('jyh@test.com',70363,120208) # add cs498dl fa20
print(res)
res = addSchedule('wtf@test.com',40317) # email does not exists
print(res)
res = addSchedule('',40317) #E-mail does not exist
print(res)
res = addSchedule('jyh@test.com',0) #crn does not exist
print(res)

(1, '(1062, "Duplicate entry \'jyh@test.com\' for key \'Email\'")')
(1, '(1062, "Duplicate entry \'jyh@test.com\' for key \'Email\'")')
(1, 'Empty field')
(1, '(1062, "Duplicate entry \'b52299ad-ccfe-11ea-8f1c-06f7f522912b-120205-40317\' for key \'PRIMARY\'")')
(1, '(1062, "Duplicate entry \'b52299ad-ccfe-11ea-8f1c-06f7f522912b-120205-40317\' for key \'PRIMARY\'")')
(1, '(1062, "Duplicate entry \'b52299ad-ccfe-11ea-8f1c-06f7f522912b-120208-70363\' for key \'PRIMARY\'")')
(1, "User doesn't exist")
(1, 'Empty field')
(1, "(1452, 'Cannot add or update a child row: a foreign key constraint fails (`illini_db`.`Enrollments`, CONSTRAINT `Enrollments_ibfk_3` FOREIGN KEY (`CRN`) REFERENCES `Sections` (`CRN`) ON DELETE CASCADE ON UPDATE CASCADE)')")

In [3]:
# Delete queries
# Delete schedule
res = deleteSchedule('jyh@test.com',40317) # delete cs411 su20
print(res)
res = deleteSchedule('jyh@test.com',40317) # double delete
print(res)
res = deleteSchedule('jyh@test.com',70363,120208) # delete cs498dl fa20
print(res)
res = deleteSchedule('wtf@test.com',40317) # email does not exist
print(res)
res = deleteSchedule('',0) #invalid entry
print(res)
# Delete account
res = deleteAccount('jyh@test.com') 
print(res)
res = deleteAccount('jyh@test.com') #delete twice
print(res)
res = deleteAccount('wtf@test.com') #invalid delete
print(res)
res = deleteAccount('')
print(res)

(1, '(1142, "DELETE command denied to user \'yihong\'@\'66.253.228.104\' for table \'Enrollments\'")')
(1, '(1142, "DELETE command denied to user \'yihong\'@\'66.253.228.104\' for table \'Enrollments\'")')
(1, '(1142, "DELETE command denied to user \'yihong\'@\'66.253.228.104\' for table \'Enrollments\'")')
(1, '(1142, "DELETE command denied to user \'yihong\'@\'66.253.228.104\' for table \'Enrollments\'")')
(1, 'Empty field')
(1, '(1142, "DELETE command denied to user \'yihong\'@\'66.253.228.104\' for table \'Users\'")')
(1, '(1142, "DELETE command denied to user \'yihong\'@\'66.253.228.104\' for table \'Users\'")')
(1, '(1142, "DELETE command denied to user \'yihong\'@\'66.253.228.104\' for table \'Users\'")')
(1, 'Empty field')

In [4]:
#Update queries
res = updateName('233@666.com', 'xs')#change name
print(res)
res = updateName('233@666.com', 'xsw')#change name again
print(res)
res = updateName('','')#invalid input
print(res)
res = updateName('2333@666.com', 'hh')
#This entry dne, function returns success but no entry modified.
#Does not affect db so I'm not enforcing it
print(res)

(0, 'Sucess')
(0, 'Sucess')
(1, 'Empty field')
(0, 'Sucess')

In [2]:
addSchedule('233@6666.com', 123456)

(1, 'not all arguments converted during bytes formatting')

In [1]:
from globalVar import db, defaultTerm

In [6]:
print(type(defaultTerm[0][0]))

<class 'int'>

In [8]:
type(''.strip())

str

In [6]:
db, cursor = connectToDb()

In [10]:
cursor.execute("SELECT UUID FROM Users WHERE Email = 'jyh@test.com'")
res = cursor.fetchall()

In [11]:
res

(('b52299ad-ccfe-11ea-8f1c-06f7f522912b',),)

In [12]:
query = "INSERT INTO Enrollments VALUES(%s, %s, %s)"
val = (res[0][0], 120205, 40317)
cursor.execute(query, val)

1

In [13]:
db.commit()
db.close()

SyntaxError: invalid syntax (<ipython-input-3-e6a1facd19f3>, line 1)